@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet');

body {
	background: #0B0B0B;
}

.header {
	height: 150px;
	width: 100%;
	background-color: none;
	position: fixed;
	display: flex;
	padding: 10px;
	font-family: Jura;
	font-size: 30px;
	font-color: white;
	justify-content: space-around;
}

.object, .faq, .comments, .prices {
	color: white
}

.image {
	position: inline-block;
	padding:120px;
}

.slogan {
	font-family: Jura;
	font-size: 50px;
	color: white;
	margin: right;
}

.description {
	position: inline-block;
	padding: 50px;
	font-family: Jura;
	font-size: 30px;
	color: white;
}

.icons {
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.one, .two, .three {
	height: 100px;
	width: 200px;
	color: white;
	font-family: Jura;
	font-size: 20px;
	align-self: flex-end;
	margin: auto;
}

.quote {
	background-color: white;
	position: inline-block;
	margin: 50px;
	padding: 50px;
	font-family: Jura;
	font-size: 30px;
	color: black;
}

.copyright {
	height: 20px;
	color: white;
	font-family: Jura;
	font-size: 20px;
	padding: 50px;
}